{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Welcome to Student_Sync</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'assets/img/logo.jpg' %}">
  <link rel="apple-touch-icon" href="{% static 'assets/img/apple-touch-icon.png' %}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/aos/aos.css' %}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        
        <h1>Student Sync</h1>
        <span>.</span>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#team">Team</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

      <a class="btn-getstarted" href="/login">Log in</a>
      <a class="btn-getstarted" href="/create">Sign Up</a>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="{% static 'assets/img/backpic.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100">Welcome to Student Sync</h2>
            <p data-aos="fade-up" data-aos-delay="200">Where Learning Meets Community.</p>
          </div>
          <div class="col-lg-5">
            <!-- Your content here -->
          </div>
        </div>
      </div>

    </section><!-- End Hero Section -->

    <!-- About Section - Home Page -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>About Us</h3>
            <h2>Student Sync </h2>
            <p>Welcome to Student Synch, a place where education and innovation meet, and a global community of learners thrives. We're on a mission to transform the student experience. At Student Synch, we believe in the magic of knowledge and its limitless potential. As students, we know learning goes beyond textbooks and classrooms; it's an ever-evolving journey. Student Synch is more than a platform; it's a living ecosystem that unites students worldwide.

              <br>Here, you can create communities, share expertise, and access a vast array of study resources, including carefully designed worksheets for exam success. But that's not all. Our cutting-edge AI analysis tool is your personal academic guide. It dissects your performance, identifies strengths and weaknesses, and crafts a personalized roadmap for improvement. Think of it as a dedicated mentor who's always there to guide you.
              
              <br>In the world of Student Synch, the pursuit of knowledge is an exciting adventure. We don't just dream; we achieve, and we inspire. Join us on this journey where students from all corners of the globe come together to harness the power of knowledge, excel in exams, and become tomorrow's leaders. This isn't just a platform; it's a gateway to an extraordinary future where knowledge knows no bounds, and possibilities are endless.</p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <i class="bi bi-buildings"></i>
                  <h3>Unlocking the Future: Join Student Synch for Learning, Earning, and Success</h3>
                  <p>Calling all students! Are you looking for a platform that not only enhances your educational journey but also offers fantastic incentives? Student Synch is the place to be</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <i class="bi bi-clipboard-pulse"></i>
                  <h3>Advertise Your Products  </h3>
                  <p>you're not just promoting your products or services; you're embarking on a journey of limitless possibilities. Our platform offers an array of compelling motivations and attractions for businesses looking to reach a vibrant and engaged audience. 
                    <br>
                  </p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <i class="bi bi-command"></i>
                  <h3>Business </h3>
                  <p>dynamic business world of Student Synch, where innovation meets opportunity, and community thrives as the heartbeat of our ecosystem. Our platform isn't just about education; it's a robust engine driving multifaceted business endeavors that are redefining the landscape.</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <i class="bi bi-graph-up-arrow"></i>
                  <h3>Community Building</h3>
                  <p>Beyond learning, you have the opportunity to create your communities, share your knowledge, and guide others. This isn't just about earning money; it's about becoming a mentor and a leader in your chosen field.</p>
                </div>
              </div> <!-- End Icon Box -->

            </div>
          </div>

        </div>
      </div>
    </section><!-- End About Section -->

    <!-- Team Section - Home Page -->
    <section id="team" class="team">
      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Meet our talented web development team, a group of dedicated professionals who bring a diverse set of skills and expertise to create outstanding online experiences.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Samuel Tolossa</h4>
              <span>Back end developer</span>
              <p></p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Betelhem Fentahun</h4>
              <span>Full stack developer</span>
              <p></p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Yohannes</h4>
              <span>Front end developer</span>
              <p></p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Moan Bekele</h4>
              <span>Front end developer</span>
              <p></p>
            </div>
          </div>

          

        </div>

      </div>

    </section><!-- End Team Section -->

  </main>

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
