{%load static%}
<!DOCTYPE html>
<html>

<head>
  <title>Login Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% comment %} <link rel="stylesheet" type="text/css" href="{%static 'style12.css'%}"> {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{%static 'login/style.css'%}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row px-3">
      <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="img-left d-none d-md-flex">
          <img src="{% static 'assets/img/login.jpg' %}" class="" alt="">
        </div>

        <div class="card-body">
          <h4 class="title text-center mt-4">
            Create Account
          </h4>
		  {% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{% if message.tags == 'error' %}error-message{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
          <form action "", method = "POST" form-box px-3">
			{% csrf_token %}
            <div class="form-input">
              <input  id = "username" type="text" name="username" placeholder="User Name" tabindex="10" required>
            </div>
            <div class="form-input">
              <span><i class="fa fa-envelope-o"></i></span>
              <input id = "email" type="email" name="email" placeholder="Email Address" tabindex="10" required>
            </div>
            <div class="form-input">
              <span><i class="fa fa-key"></i></span>
              <input id ="password" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-input">
              <span><i class="fa fa-key"></i></span>
              <input id = "password1" type=" confirm password" name="password1" placeholder="confirm Password" required>
            </div>

            <div class="mb-3">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="cb1" name="">
                <label class="custom-control-label" for="cb1">Remember me</label>
              </div>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-block text-uppercase" style="margin-left: 20vh;">
                Create account
              </button>
            </div>

            <!-- <div class="text-right">
              <a href="#" class="forget-link">
                Back
              </a>
            </div> -->



            <hr class="my-4">

            <div class="text-center mb-2">
              I already have an account?
              <a href="/login" class="register-link">
                Login
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>